.App {
  text-align: center;
}
button {
  /* padding: 0.5rem 2rem; */
  border-radius: 5px;
  background-color: skyblue;
  box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  /* margin: 0 1rem; */
}
input {
  padding: 0.5rem;
}
